<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>proc_out.txt</file>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_FILE"
              class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
        <includeCallerData>false</includeCallerData>
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC_FILE" />
    </root>
</configuration>